{% extends 'base.html.twig' %}

{% block title %}Voici un apercu de vos service{% endblock %}

{% block body %}



<h2>Voici un apercu de vos services</h2>

<form action="{{ path ('traitement_deleteEdit') }}" method="POST">
<table>
    <tr>
        <th>Service</th>
        <th>Prix</th>
    </tr>
    {% for valeur in services %}
   
    <tr>
        <td>{{ valeur.nom | capitalize }}</td>
        <td>{{ valeur.prix }} euro</td>
        <td><button type="submit" name="delete" value="{{ valeur.id }}">Delete</button></td>
        <td><button type="submit" name="edit" value="{{ valeur.id }}">Edit</button></td>
    </tr>
 
    {% endfor %}
</table>
</form>
{% endblock %}