{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="main">

    <span class="title2">Zoto <i class="fas fa-spa"></i>Esthetique</span>
    {% if app.user %}
        <div class="header"><h2>Bienvenu! {{ app.user.nom}}</h2></div>
    {% endif %}

    <div class="meteo">
        <div ><img class="imgMeteo" src="http://openweathermap.org/img/wn/{{ weatherIcon }}@2x.png"></div>
        <div>
            <p>Source: OpenWeather</p>
            <p>Bruxelles le: {{ today| date('d/m/Y') }}</p>
            <p>Weather: {{ weather }}</p>
            <p> Temperature: {{ temp }} °С</p>
            <p>Vent : {{ wind }} m/s </p>
        </div>
    </div>

</div>
{% endblock %}
