{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}

<div class="main">

<div class="header"><h2>Voici un apercu de vos prestations</h2></div>


<table>
    <tr>
        <th>Nº</th>
        <th>Date</th>
        <th>Service</th>
        <th>Client</th>
        <th>Carte Bancaire</th>
        <th>Prix Service</th>
        <th>Delete</th>
    </tr>
    {% set count = 1 %}
    {% for valeur in prestations %}
    <tr>
        <td>{{ count }}</td>
        <td>{{ valeur.datePrestation| date('d/m/Y') }}</td>
        <td>{{ valeur.service.nom | capitalize}}</td>
        <td>{{ valeur.client.prenom | capitalize}}</td>
        <td>{{ (valeur.carteBancaire == 1)? "Oui": "Non" }}</td>
        <td>{{ valeur.prixService}} €</td>
        <td><button type="submit" class="deletePrestation"  value="{{ valeur.id }}"><i class="fas fa-trash-alt"></i></button></td>
        {% set count = count + 1 %}
    </tr>
    <div  class="modal {{ valeur.id }}">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
            <form  action="{{ path ('traitementPrestation_deleteEdit') }}" method="POST">
                <h3>Êtes-vous sûr ?</h3>
                <button type="submit" id="confirmDelete" name="delete" value="{{ valeur.id }}">Oui</button>
            </form>
                
            
        </div>
    </div>

    {% endfor %}
</table>


<div class="pagination">
    {{ knp_pagination_render (prestations) }}
</div>


</div>


{% endblock %}

{% block javascripts %}

<script>
    let deletePrestation = document.getElementsByClassName('deletePrestation');
    for(let del of deletePrestation){
        del.addEventListener('click', function (event){
            
        let modal = document.getElementsByClassName('modal');
      
        for(let el of modal){
            let name = el.className;
            if(name.substring(6) === del.value){
                el.style.display = "block";
            } 
        }
       

        let span = document.getElementsByClassName('close');
        for (const sp of span) {
            sp.addEventListener('click', () => {
                for (const el of modal) {
                    if (el.style.display === 'block') {
                        el.style.display = 'none';
                    }
                }
            });
        }

        window.onclick = function(event) {
            for (const el of modal) {
                if (event.target.style.display === 'block') {
                    el.style.display = 'none';
                }
            }
        };
       
    })

}
   

</script>

{% endblock %}