{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}



<h2>Resultat de la recherche</h2>


<table>
    <tr>
        <th>Date</th>
        <th>Service</th>
        <th>Client</th>
        <th>Carte Bancaire</th>
        <th>Prix Service</th>
    </tr>
    {% for valeur in prestation %}
   
    <tr>
        <td>{{ valeur.datePrestation| date('d/m/Y') }}</td>
        <td>{{ valeur.service.nom | capitalize}}</td>
        <td>{{ valeur.client.prenom | capitalize}}</td>
        <td>{{ (valeur.carteBancaire == 1)? "Oui": "No" }}</td>
        <td>{{ valeur.prixService}}</td>
    </tr>
    {% endfor %}
</table>

<div>Total {{ prix}} euro.</div>

{% endblock %}