{% extends 'base.html.twig' %}

{% block title %}Modifier un prestation{% endblock %}

{% block body %}


<div class="main">
<div class="header"><h2>Modifier un prestation</h2></div>

<form action="{{ path ('traitement_editPrestation') }}" method="POST">

        <label>Date</label><input type="date" required name="datePrestation"  value="{{ prestation.datePrestation | date('d/m/Y')}}"></input></br>
        <label>Carte Bancaire</label><input required name="carteBancaire" value ="{{ (prestation.carteBancaire == 1)? "Oui": "No" }}"></input></br>
        <label>Prix Service</label><input required name="prixService" value ="{{ prestation.prixService}}"></input></br>
       
        
        <input type="hidden" name="id" value= "{{ prestation.id }}"></input></br>
        <input type="submit">Edit</input>

</form>

</div>
{% endblock %}