{% extends 'base.html.twig' %}

{% block title %}Selectioner un client{% endblock %}

{% block body %}


<div class="main" id="main">
<div class="header"><h2>Selectioner un client</h2></div>

<form id="leFormulaire">

    <label>Selectionez le prenom:</label>
    <select name="clientId">
        {% for valeur in clients %}
        <option value = {{ valeur.id }} >{{ valeur.prenom | capitalize}} {{ valeur.nom  | capitalize}}  </option>
        {% endfor %}
    </select>
    <input id="btn_envoyer" type="submit"></input>  

</form>
<div id="contenu"></div>
</div>

{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script  src="{{ asset ('/assets/js/client.js') }}"></script>

{% endblock %}