{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}



<h2>Selectioner un client</h2>

<form id="leFormulaire">

    <label>Selectionez le prenom:</label>
    <select name="clientId">
        {% for valeur in clients %}
        <option value = {{ valeur.id }} >{{ valeur.prenom | capitalize}} </option>
        {% endfor %}
    </select>
    <button id="btn_envoyer" type="submit">Submit</button>  

</form>
<div id="contenu"></div>


{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script  src="{{ asset ('/assets/js/client.js') }}"></script>

{% endblock %}