{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}

<div class="main">

<div class="header"><h2>Voici un apercu de vos clients</h2></div>

<form action="{{ path ('traitementClient_deleteEdit') }}" method="POST">
<table>
    <tr>
        <th>Nº</th>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Id Card</th>
        <th>Commentaires</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    {% set count = 1 %}
    {% for valeur in client %}
   
    <tr>
        <td>{{ count }}</td>
        <td>{{ valeur.prenom | capitalize }}</td>
        <td>{{ valeur.nom | capitalize}} </td>
        <td>{{ valeur.adresse | capitalize}} </td>
        <td>{{ valeur.contact | capitalize}} </td>
        <td>{{ valeur.email | capitalize}} </td>
        <td>{{ valeur.idCard | capitalize}} </td>
        <td>{{ valeur.commentaires | capitalize}} </td>
        <td><button type="submit" name="delete" value="{{ valeur.id }}"><i class="fas fa-trash-alt"></i></button></td>
        <td><button type="submit" name="edit" value="{{ valeur.id }}"><i class="fas fa-edit"></i></button></td>
        {% set count = count + 1 %}
    </tr>
 
    {% endfor %}
</table>
</form>

<div class="pagination">
    {{ knp_pagination_render (client) }}
</div>

</div>
{% endblock %}