{% extends 'base.html.twig' %}

{% block title %}Modifier un client{% endblock %}

{% block body %}



<h2>Modifier un client</h2>

<form action="{{ path ('traitement_editClient') }}" method="POST">

        <label>Nom </label><input required name="nom" placeholder ="{{ client.nom }}"></input></br>
        <label>Prenom</label><input required name="prenom" placeholder ="{{ client.prenom}}"></input></br>
        <label>Adresse</label><input required name="adresse" placeholder ="{{ client.adresse}}"></input></br>
        <label>Contact</label><input required name="contact" placeholder ="{{ client.contact}}"></input></br>
        <label>Email</label><input required type="email" name="email" placeholder ="{{ client.email}}"></input></br>
        <label>Id Card</label><input required name="idCard" placeholder ="{{ client.idCard}}"></input></br>
        <label>Commentaires</label><textarea required name="commentaires" placeholder ="{{ client.commentaires}}"></textarea></br>
        <input type="hidden" name="id" value= "{{ client.id }}"></input></br>
        <button type="submit">Edit</button>

</form>
{% endblock %}